.container{
    width: 48%;
    margin: 1%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.container_title{
    width: 75%;
    margin-left: 12.5%;
    border-bottom: 1px solid black;
    text-align: center;
    margin-bottom: 5px;
}

.input_bar{
    border-radius: 5px;
    width: 50%;
    margin-left: 25%;
    border: 1px solid black;
    height: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

tr.special:nth-child(even) {background-color: #f2f2f2;}